<!doctype html>
<html>
<head>
<style>
	ul {
		list-style-type:none;
		background-color:gray;
		border: 1px solid;
		margin: 0;
		padding: 0;
		width:200px;
	}
	li {
		border: 1px solid;
		text-align: center;
	}
	li:last-child {
		border-bottom: none;
	}
	li a {
		display: block;
		color:white;
		padding:8px 16px;
	}
	li a:hover {
		background-color: green;
		color:white;
	}
	.change {
		border: 1px solid red;
	}
	.other {
		column-count: 2;
	}
</style>
</head>
<body>
	<p> This is my website </p>
	<ul>
		<li><a>Home</a></li>
		<li><a>Kali</a></li>
		<li><a>Windows</a></li>
	</ul>
	<p class="change">Some changes here</p>
	<div class="other">But what if you just want to update your local repository, without going through all those steps?
	pull is a combination of fetch and merge. It is used to pull all changes from a remote repository into the branch you are working on. Make another change to the Readme.md file on GitHub.</div>
</body>
</html>