<!doctype html>
<html>
<head>
<style>
	ul {
		list-style-type:none;
		background-color:gray;
		border: 1px solid;
		margin: 0;
		padding: 0;
		width:200px;
	}
	li {
		border: 1px solid;
		text-align: center;
	}
	li:last-child {
		border-bottom: none;
	}
	li a {
		display: block;
		color:white;
		padding:8px 16px;
	}
	li a:hover {
		background-color: green;
		color:white;
	}
</style>
</head>
<body>
	<p> This is my website </p>
	<ul>
		<li><a>Home</a></li>
		<li><a>Kali</a></li>
		<li><a>Windows</a></li>
	</ul>
</body>
</html>